.button {
  width: unset;
  background-color: transparent;
  padding: 0.4em 0.8em;
  margin: 0;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 400;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}

.button:active,
.button:visited {
  color: rgb(var(--color-darkest))
}

.button.red {
  background-color: rgba(var(--color-error), 0.2);
  border-color: rgba(var(--color-error), 0.2);
  color: rgb(var(--color-error));
}

.button.blue {
  background-color: rgba(var(--color-info), 0.2);
  border-color: rgba(var(--color-info), 0.2);
  color: rgb(var(--color-info));
}
