* {
  box-sizing: border-box;
}

body {
  background-color: rgb(var(--color-background));
  padding: 0.5em;
  font: 1rem arial, sans-serif;
  max-width: 768px;
  margin: auto;
}

summary {
  font-size: 0.8em;
  margin: 0 0 0.5em 0;
}

summary:hover {
  cursor: pointer;
}

header {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  align-items: start;
  margin-bottom: 1em;
}

header i {
  font-size: 1.8em;
  line-height: 1;
}

h1 {
  color: rgb(var(--color-darkest));
  margin: 0;
  font-size: 1.2em;
  text-align: center;
}

.hidden {
  display: none;
}
