.gear {
  background-color: rgb(var(--color-darkest));
  mask-image: url('../images/icons/gear.svg');
  mask-repeat: no-repeat;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  mask-size: 1.5em;
}
