.modal {
  position: relative;
  border: none;
  border-radius: 3px;
  padding: 0 0.5em;
  background-color: rgb(var(--color-background));
}

.modal header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0.5em 0;
  padding: 0 0 0.5em;
  border-bottom: 1px solid rgb(var(--color-background-darker));
}

.modal header h2 {
  margin: 0;
  padding: 0;
}

.modal footer {
  margin: 0.5em 0;
  padding: 0.5em 0 0;
  border-top: 1px solid rgb(var(--color-background-darker));
}

.modal footer .form-field {
  margin: 0;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
