.stats {
  margin-bottom: 1em;
}

.graphs {
  padding: 0 0.5em;
  margin: 0;
}

.graph {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  justify-items: stretch;
  align-items: start;
  gap: 1em;
  margin-bottom: 0.8em;
}

.graph-label {
  color: rgb(var(--color-darkest));
  font-family: sans-serif;
  font-size: 0.8em;
  font-weight: 600;
}

.graph-main-label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: end;
  font-size: 1em;
}

.graph-main-label label {
  text-transform: capitalize;
}

.graph-value-label {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  font-weight: 400;
}

.graph-bar-labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
}

.graph-bar {
  position: relative;
  height: 2em;
  width: 100%;
  border-radius: 25px;
  padding: 0.2em;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.graph-bar > span {
  display: block;
  height: 100%;
  width: 0%;
  border-radius: 20px;
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  font-size: 0.6em;
  line-height: 2.4;
  font-weight: 600;
  text-align: right;
  padding: 0 0.5em;
}

.graph-bar > span:empty {
  padding: 0;
}

.graph-days .graph-bar {
  background-color: rgba(var(--color-days), 0.4);
}

.graph-days .graph-bar > span {
  background-color: rgb(var(--color-days))
}

.graph-budget .graph-bar {
  background-color: rgba(var(--color-budget), 0.4);
}

.graph-budget .graph-bar > span {
  background-color: rgb(var(--color-budget))
}

.graph-today .graph-bar {
  background-color: rgba(var(--color-today), 0.4);
}

.graph-today .graph-bar > span {
  background-color: rgb(var(--color-today))
}
