.transaction-form-category input {
  display: none;
}

.transaction-form-category label {
  color: rgb(var(--color-darkest));
  text-align: center;
  border: 2px solid rgb(var(--color-background));
  border-radius: 3px;
  padding-top: 0.5em;
}

.transaction-form-category label::after {
  content: attr(data-icon);
  display: block;
  text-align: center;
  font-size: 3em;
}

.form-field:has(:checked) label {
  background-color: rgb(var(--color-background-darker));
}

.transaction-list {
  list-style: none;
  padding: 0;
  margin: 0.5em 0 0;
}

.transaction-group {
  margin-bottom: 0.8em;
}

.transaction-group h3 {
  display: flex;
  justify-content: space-between;
  margin: 0.2em 0;
  font-size: 0.8em;
  color: rgb(var(--color-darkest));
  padding: 0 0.5em;
}

.group-total {
  color: rgb(var(--color-info));
}

.group-total.overspent {
  color: rgb(var(--color-error));
}

.transaction-group ul {
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.transaction-item {
  padding: 0.8em 0.4em;
  margin: 0;
  background-color: rgb(var(--color-background-darker));
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(var(--color-background));
  border-radius: 3px 3px 3px 3px
}

.transaction-item-data {
  width: 100%;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.2fr;
  align-items: center;
  gap: 0.5em;
}

.transaction-item-category {
  font-size: 1.8em;
}

.transaction-item-description,
.transaction-item-value {
  font-weight: 500;
}

.transaction-item-time {
  font-size: 0.6em;
  font-weight: 600
}

.transaction-item-value {
  justify-self: end;
}

.transaction-item-delete {
  margin: 0;
}

.transaction-new-button {
  position: fixed;
  bottom: 0.4em;
  left: calc(50% - calc(var(--new-transaction-size) / 2));
  font-size: 4em;
  margin: 0;
  padding: 0;
  background-color: rgb(var(--color-today));
  cursor: pointer;
  width: var(--new-transaction-size);
  height: var(--new-transaction-size);
  line-height: var(--new-transaction-size);
  text-align: center;
  border-radius: 50%;
  color: rgb(var(--color-background));

  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
}

.transaction-item-menu-trigger {
  padding: 0;
  text-decoration: none;
  font: 2em bolder sans-serif;
}
